@model IEnumerable<UnaiitMVC.Models.Grade.GradeTable>

@{
    ViewData["Title"] = "Danh sách lớp";
}

<h1>Danh sách lớp</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Founded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Founded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty.Creator)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Thông tin</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
